body {
  background: url(../../assets/Fondo.png) center center/cover no-repeat fixed;
  margin: 0px; /* Agrega esta línea para eliminar el margen predeterminado */
  padding: 0px; /* Agrega esta línea para eliminar el relleno predeterminado */
}

.containerHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  flex-wrap: wrap;
}

.filtersContainer {
  background-color: #d5d9e780;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.selectores {
  background-color: rgb(127, 204, 255);
  font-family: monospace;
  padding: 5px;
  border-radius: 5px;
}
