body{
  background: url(../../assets/Fondo.png) center center / cover no-repeat fixed;
  
}

.containerHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  flex-wrap: wrap;
}


.filtersContainer {
  background-color: #03104b80;
  display: flex;
  flex-direction: row;
  align-items:center; 
  padding: 20px;
  width: auto; 
  height: 20vh;
  margin: 0;
  margin-bottom: 10px; 

}



.SearchBar {
  margin-left: auto;
}


.card {
  flex-basis: calc(50% - 10px); 
  margin-right: 10px;
  margin-bottom: 10px;
  height: 300px; 
}

.boxPaises {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start; 
}






