.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  
}

button {
  background-color: #3498db;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  min-width: 40px; /* Ancho fijo para todos los botones */
}

button:hover {
  background-color: #2980b9;
}

.active {
  background-color: #2980b9;
}

.noActive {
  background-color: #3498db;
}

